@import 'styles/index.css';

@font-face {
	font-family: 'Manrope';
	src: url('/fonts/Manrope-Regular.woff2') format('woff2'),
			 url('/fonts/Manrope-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

:root {
  font-family: Manrope, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--tertiary-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--tertiary-color);
    background-color: #ffffff;
  }
  a:hover {
    color: var(--primary-color);
  }
  button {
    background-color: #f9f9f9;
  }
}
